---
Language: Cpp
AccessModifierOffset: -2
IndentWidth: 4
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
Standard: Cpp11
ContinuationIndentWidth: 4
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  SplitEmptyNamespace: true
...
